/* global settings */

:root {
    --open-font: 'Open Sans', sans-serif;
    --raleway-font: 'Raleway', sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish:  #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ### header navigation ###*/

.header {
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    width: 100vw;
    height: 70px;
    box-shadow: 0px 3px 6px var(--color-grey);
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    font-family: var(--raleway-font);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
}

.page-nav-list {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.page-nav-list a {
    font-family: var(--open-font);
    font-weight: bold;
    color: var(--color-grey);
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    padding:5px;
}

.page-nav-list a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
    padding-bottom: 25px;
}

/* ### opening page ###*/

.section-opening-container {
    color: var(--color-black);
    text-align: center;
    margin-top: 130px;
    background-color: var(--color-white);
}

.h1 {
    font-family: var(--raleway-font);
    font-size: 49px;
}

.section-opening-paragraph {
    font-family: var(--open-font);
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 38px;
}

.section-opening-btn {
    background-color: var(--color-primary);
    font-family: var(--open-font);
    font-size: 16px;
    color: var(--color-white);
    font-weight: bold;
    border-radius: 40px;
    border: none;
    padding: 23px 155px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow)
}

/* ### statistic page ##*/

.section-statistic {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-light-grey);
}

.h2 {
    font-family: var(--raleway-font);
    font-size: 36px;
    padding: 100px;
}

.section-statistic-container-boxes {
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    padding-bottom: 120px;
    
}

.boxes-box {
    width:30%;
    display: flex;
    flex-direction: column;
}

.box {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    align-self: center;
}

.box-box1 {
    background: var(--color-redish);
}

.box-box1::before {
    content: "";
    position: absolute;
    background-image: url(../assets/Person.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 75px;
    height: 55px;
}

.box-box2 {
    background: var(--color-primary);
}

.box-box2::before {
    content: "";
    position: absolute;
    background-image: url(../assets/Eye.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 85px;
    height: 55px;
}

.box-box3 {
    background: var(--color-green);
}

.box-box3::before {
    content: "";
    position: absolute;
    background-image: url(../assets/Catalog.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 85px;
    height: 60px;
}

.box-title {
    font-family: var(--raleway-font);
    color: var(--color-black);
    font-weight: 900;
    text-align: center;
    letter-spacing: 6px;
    padding: 20px;
}

.box-paragraph {
    font-family: var(--raleway-font);
    text-align: center;
    font-size: 16px;
    color: var(--color-grey);
}

/* ### benefits page ##*/

.section-benefits {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}

.benefit-container-box {
    height: 370px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.h3 {
    font-family: var(--raleway-font);
    color: var(--color-black);
    font-size: 36px;
    text-align: left;
}

.benefit-box-paragraph{
    font-family: var(--open-font);
    color: var(--color-black);
    font-size: 16px;
    text-align: left;
    padding: 30px 0 50px;
}

.benefit-box1 {
    display: flex;
    justify-content: space-between;
    
}

.benefit-box1-text {
    width: 416px;
    height: 190px;
    margin: 90px 0 90px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit-box1-text::after {
    content: "";
    height: 4px;
    background: var(--color-redish);
    max-width: 325px; 
}

.benefit-box-img {
    /*width: 400px;*/
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-right: 70px;
}

.benefit-box-img-style {
    width: 435px;
    height: 295px;
    display: flex;
    align-items:center;   
}

.benefit-box-img-style::after {
    content: "";
    position: absolute;
    background-image: url(../assets/Macbook.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 385px;
    height: 220px;  
}

.benefit-box-img-style::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 40px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 200, -50);

}

.benefit-box2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 0 40px 70px;
    margin: 35px 0;
}

.benefit-box2-text {
    width: 416px;
    height: 230px;
    margin: 70px 20px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit-box2-text::after {
    content: "";
    height: 4px;
    background: var(--color-primary);
    max-width: 325px; 
   
}

.benefit-box2-img {
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.benefit-box2-img::before {
    content: "";
    position: absolute;
    width: 425px;
    height: 330px;
    margin-top: 10px;
    background-image: url(../assets/iPhone.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.section-benefit-container-box3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.benefit-box3 {
    width: 60%;
    height: 370px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-box3-text {
    width: 555px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit-box3-text::after {
    content: "";
    height: 4px;
    background: var(--color-green);
    max-width: 325px; 
   
}

.benefit-box3-pic {
    width: 32%;
    background-color: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit-box3-pic img {
    margin: 100px 80px 0 60px;
}

.section-pricing {
    background-color: var(--color-white);
}

/* ### sekcja Pricing ### */

.pricing-container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1266px;
}

.pricing-boxes {
    border: 1px solid;
    border-radius: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pricing-properities-1 {
    display:flex;
    flex-direction: column;
    align-items: center;
   padding-bottom: 55px;
   padding-top: 70px;
   
}

.pricing-properities-2 {
    display:flex;
    flex-direction: column;
    align-items: center;
   padding-bottom: 55px;
   padding-top: 75px;
   
}

.pricing-properities-3 {
    display:flex;
    flex-direction: column;
    align-items: center;
   padding-bottom: 55px;
   padding-top: 50px;
   
}

.pricing-box-1 {
    border-color: var(--color-redish);
    width: 372px;
    height: 461px;
}



.pricing-box-2 {
    border-color: var(--color-primary);
    width: 405px;
    height: 500px;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing-box-3 {
    border-color: var(--color-green);
    width: 372px;
    height: 461px;
}

.h4 {
    font-family: var(--raleway-font);
    font-weight: bold;
    font-size: 20px;
    padding-top: 35px;
}

.h4-2 {
    font-family: var(--raleway-font);
    font-weight: bold;
    font-size: 21px;
    padding-top: 35px;
}

.price-1 {
    font-family: var(--open-font);
    font-size: 46px;
    font-weight: 300;
    color: var(--color-redish);
    padding: 15px;
}

.price-2 {
    font-family: var(--open-font);
    font-size: 46px;
    font-weight: 300;
    color: var(--color-primary);
    padding: 15px;
}

.price-3 {
    font-family: var(--open-font);
    font-size: 46px;
    font-weight: 300;
    color: var(--color-green);
    padding: 15px;
}

.box-text {
    font-family: var(--open-font);
    font-size: 14px;
    color: var(--color-black);
    padding: 10px;
}

.text-line-1 {
    font-family: var(--raleway-font);
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

.price-link-1 {
    background-color: var(--color-redish);
    border-radius: 23px;
    padding: 16px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    position: relative; 
    bottom: -47px;
    
    
}

.price-link-1 a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--open-font);
    font-size: 13px;
    font-weight: bold;
}

.price-link-2 {
    background-color: var(--color-primary);
    border-radius: 23px;
    padding: 16px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -10px;
}

.price-link-2 a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--open-font);
    font-size: 13px;
    font-weight: bold;
}

.price-link-3 {
    background-color: var(--color-green);
    border-radius: 23px;
    padding: 16px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.price-link-3 a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--open-font);
    font-size: 13px;
    font-weight: bold;
    
}

.text-line-2::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../assets/Ckechmark-1.svg);
}

.text-line-3::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../assets/Close.svg);
}

/* ### sekcja kontakt ### */
.section-contact-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 170px;
}

.contact-info {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.contact-info strong {
	font-family: var(--raleway-font);
	font-size: 49px;
}

.contact-info p {
	font-family: var(--open-font);
	font-size: 16px;
	padding: 22px 0;
}

.contact-info span {
	display: flex;
	justify-content: space-between;
}

.contact-info-email a {
	font-family: var(--open-font);
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: var(--color-grey);
}

.phone a {
	font-family: var(--open-font);
	font-size: 16px;
	font-weight: 600;
	color: var(--color-grey);
	text-decoration: none;
}

/* ### sekcja kontakt-formularz ### */

.form {
	width: 440px;
	display: flex;
	flex-direction: column;
	font-family: var(--open-font);
}

.contact-area-label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.contact-area-input {
	width: 440px;
	border: none;
	border-bottom: 1px solid #95989A;
	margin-bottom: 40px;
	font-family: var(--open-font);
	font-size: 12px;
	color: var(--color-grey);
}

.contact-area label {
	color: var(--color-primary);
	display: flex;
	flex-direction: column;
	
}

input:focus {
    border-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
}

/* ## Checkbox ## */

.checkbox {
	font-family: var(--open-font);
	font-size: 12px;
	color: #707070;
	font-weight: 400;
	cursor: pointer;
	display: flex;
	
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox span {
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border: 1px solid #95989A;
  cursor: pointer;
  margin-right: 15px;
}

.checkbox input:checked + span {
  background-image: url(../assets/Checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ## button ## */

.btn-contact-area {
	width: 225px;
	align-self: flex-end;
	margin-top: 20px;
	font-family: var(--open-font);
	font-size: 13px;
	color: var(--color-white);
	background-color: var(--color-primary);
	box-shadow: 5px 10px 14px #07ACE629;
	border: none;
	border-radius: 35px;
	padding: 20px 95px;
}

/* ### footer ###*/

.footer {
    margin-top: 60px;
    background-color: var(--color-light-grey);
    box-shadow: 0px -5px 40px #00000029;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo a {
    text-decoration: none;
    font-family: var(--raleway-font);
    font-size: 26px;
    color: var(--color-primary);
    padding-top: 20px;
    padding-bottom: 6px;
    text-align: left;
}

.footer-logo span {
    font-family: var(--open-font);
    font-size: 11px;
    color: var(--color-grey)
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social a {
    padding: 10px;
}